<%- partial('_partial/head') %>

<body>
    <div id="loadingDiv" style="position:fixed;display:none;z-index:2000;top:0px;left:0px;width:100%;height:100%;background-color:white"></div>

    <img src="/weixin_favicon.png" style="position: absolute; left: -9999px; opacity: 0; filter: alpha(opacity=0);">

    <%- partial('_partial/header') %>
    <main>
        <%- body %>
        <%- partial('_partial/float') %>
    </main>
    <%- partial('_partial/footer') %>

    <%- partial('_partial/after_footer') %>
</body>
</html>
