<!-- 分享-->
<script>window._bd_share_config={"common":{"bdSnsKey":{},"bdText":"","bdMini":"1","bdMiniList":false,"bdPic":"","bdStyle":"0","bdSize":"16"},"slide":{"type":"slide","bdImg":"6","bdPos":"right","bdTop":"173.5"}};with(document)0[(getElementsByTagName('head')[0]||body).appendChild(createElement('script')).src='http://bdimg.share.baidu.com/static/api/js/share.js?v=89860593.js?cdnversion='+~(-new Date()/36e5)];</script>

<%
var pageUrl = config.url + '/' + page.path;
if (typeof page_id !== 'undefined') {
    var pageId = page_id;
} else if (typeof page.slug !== 'undefined') {
    var pageId = page.slug.substr(page.slug.lastIndexOf('/') + 1);
} else {
    var pageId = page.title;
}
%>

<% if (theme.disqus_shortname && page.comments){ %>
    <section id="comment">
        <div id="disqus_thread"></div>
        <script>
            var disqus_config = function() {
                this.page.url = '<%= pageUrl %>';
                this.page.identifier = '<%= pageId %>';
            };
            (function() {
                var d = document,
                    s = d.createElement('script');
                s.src = '//<%= theme.disqus_shortname %>disqus.com/embed.js';
                s.setAttribute('data-timestamp', + new Date());
                (d.head || d.body).appendChild(s);
            })();
        </script>
        <noscript>Please enable JavaScript to view the
            <a href="https://disqus.com/?ref_noscript" rel="nofollow">comments powered by Disqus.</a>
        </noscript>
    </section>
<% } else if (theme.duoshuo_shortname && page.comments){ %>
    <section id="comment">
        <div class="card">
            <div class="card-content">
                <!-- Duoshuo Comment BEGIN -->
                <div class="ds-thread" data-thread-key="<%= pageId %>" data-title="<%= page.title %>" data-url="<%= pageUrl %>"></div>
                <script type="text/javascript">
                    var duoshuoQuery = {
                        short_name: '<%= theme.duoshuo_shortname %>'
                    };
                    (function() {
                        var ds = document.createElement('script');
                        ds.type = 'text/javascript';
                        ds.async = true;
                        ds.src = (document.location.protocol == 'https:'
                            ? 'https:'
                            : 'http:') + '//static.duoshuo.com/embed.js';
                        ds.charset = 'UTF-8';
                        (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(ds);
                    })();
                </script>
                <!-- Duoshuo Comment END -->
            </div>
        </div>
    </section>
<% } else if (theme.changyan_shortname && page.comments){ %>
    <section id="comment">
        <div class="card">
            <div class="card-content">
                <!-- Changyan Comment BEGIN -->
                <!--PC和WAP自适应版-->
                <div id="SOHUCS" sid="<%= page.path %>"></div>
                <script type="text/javascript">
                    (function(){
                        var appid = 'cysUBoMLM';
                        var conf = 'prod_a50906365a850d1c20808db85906c755';
                        var width = window.innerWidth || document.documentElement.clientWidth;
                        if (width < 960) {
                            window.document.write('<script id="changyan_mobile_js" charset="utf-8" type="text/javascript" ' +
                                    'src="https://changyan.sohu.com/upload/mobile/wap-js/changyan_mobile.js?client_id=' + appid +
                                    '&conf=' + conf + '"><\/script>'); }
                        else { var loadJs=function(d,a){var c=document.getElementsByTagName("head")[0]
                                ||document.head||document.documentElement;var b=document.createElement("script");
                            b.setAttribute("type","text/javascript");b.setAttribute("charset","UTF-8");
                            b.setAttribute("src",d);
                            if(typeof a==="function"){if(window.attachEvent){b.onreadystatechange=
                                    function(){var e=b.readyState;if(e==="loaded"||e==="complete"){b.onreadystatechange=null;a()}}}
                            else{b.onload=a}}c.appendChild(b)};loadJs("https://changyan.sohu.com/upload/changyan.js",
                                function(){window.changyan.api.config({appid:appid,conf:conf})});
                        } })();
                </script>
                <!-- Changyan Comment END -->
            </div>
        </div>
    </section>
<% } %>

<!--友言-->
<!--&lt;!&ndash; UY BEGIN &ndash;&gt;-->
<!--<div id="uyan_frame"></div>-->
<!--<script type="text/javascript" src="http://v2.uyan.cc/code/uyan.js?uid=2094227"></script>-->
<!--&lt;!&ndash; UY END &ndash;&gt;-->